.widget
	margin: 0 0 25px
	font-size: 16px

#sidebar .widget form
	margin-bottom: 0px

#sidebar .widget
	padding-bottom: 25px

//	Footer Widget	-------------------------------
//	----------------------------------------------
#footer .widget
	margin: 0

.widget h3, .screen-reader-text
	display: block
	margin: 0 0 18px
	text-transform: uppercase
	font-weight: 700
	font-size: 15px

.widget_rss ul li:before, .widget_nav_menu ul li:before, .widget_pages ul li:before, .widget_categories ul li:before, .wpb_taxonomy ul li:before, .widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_archive ul li:before, .widget_meta ul li:before
	margin-right: .5em
	content: "\F105"
	font-family: "FontAwesome"

//	Widget Tag Cloud	----------------------------
//	----------------------------------------------
.widget_tag_cloud .tagcloud a
	display: block
	float: left
	margin: 0 6px 6px 0
	padding: 5px 10px 5px 10px
	background: #292929
	color: white
	font-size: 12px !important
	transition: all 0.2s ease-in-out

#footer .widget_tag_cloud .tagcloud a:hover
	color: #fff

//	Search	--------------------------------------
//	----------------------------------------------
.widget_search input
	width: 212px !important

#sidebar .widget_search
	margin-top: 15px

//	Categories	----------------------------------
//	----------------------------------------------
#sidebar .widget_categories li
	padding: 7px 0 7px 0
	border-bottom: 1px solid #ececec

#sidebar .widget_categories li:before
	margin-right: 5px
	color: #636363
	content: "\f0da"
	font-size: 9px
	font-family: 'FontAwesome'

#sidebar .widget_categories li:last-child
	border: none

#sidebar .widget_categories li a
	color: #636363

#footer .widget_categories li
	border-bottom: 1px solid #484848
	background: url(../images/c_icon_next_g.png) no-repeat 0 12px

#footer .widget_categories li:last-child
	border: none

#footer .widget_categories li a
	color: #C2C2C2

//	Text Widget	---------------------------------
//	----------------------------------------------
#sidebar .widget_text
	color: #636363

//	Tabs With Posts	-----------------------------
//	----------------------------------------------
.ui-tabs .ui-tabs-nav
	display: block
	display: table
	width: 100%

.bordered.ui-tabs .tabs-content-wrapper
	display: block
	margin-top: -20px
	padding: 30px 20px
	border-radius: 0 0 3px 3px
	background: #ecf0f1

.ui-tabs .ui-tabs-nav li
	position: relative
	float: left
	margin: 0 0 20px
	padding: 0
	width: auto
	border-right: 2px solid #fff
	border-bottom: 2px solid #fff
	line-height: 32px

#sidebar .ui-tabs .ui-tabs-nav li
	width: 49%

.ui-tabs .ui-tabs-nav li a
	display: block
	padding: 10px 24px
	background: #ecf0f1
	color: #333
	text-align: center
	font-weight: 700
	font-size: 14px

.ui-tabs .ui-tabs-nav li a:last-child
	margin-right: 0

.ui-tabs .ui-tabs-nav li.ui-tabs-active a
	color: #fff

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
	cursor: text

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
	cursor: pointer

.ui-tabs .ui-tabs-panel
	position: relative
	display: block
	border: none

.ui-tabs .ui-tabs-panel .posts li
	margin-bottom: 15px

.ui-tabs .ui-tabs-panel .posts li:last-child
	margin: 0

.ui-tabs .ui-tabs-panel .posts img
	float: left
	margin-top: 3px
	margin-right: 10px
	width: 50px
	height: 50px
	border-radius: 3px

.ui-tabs .ui-tabs-panel .entry .date
	display: block
	color: #959595

.ui-tabs .ui-tabs-hide
	display: none !important

//	Recent Entries	------------------------------
//	----------------------------------------------
.widget_recent_entries
	.posts li
		margin-bottom: 15px
	.posts li:last-child
		margin: 0
	.posts img
		float: left
		margin-top: 3px
		margin-right: 10px
		width: 50px
		height: 50px
		border-radius: 3px
	.entry .date
		display: block
		color: #959595

#footer .widget_recent_entries
	a
		color: #fff
	.date
		color: #636363
	li
		margin-bottom: 4px

.widget_recent_entries
	a:after
		content: "\2026"

.post-date
	display: block
	font-size: 12px

//	Latest Posts	--------------------------------
//	----------------------------------------------
.widget_latest_posts li
	margin-bottom: 10px

.widget_latest_posts li:last-child
	margin: 0

//	Footer Text Widget	--------------------------
//	----------------------------------------------
.widget_text
	color: #999

//	Photo Stream	--------------------------------
//	----------------------------------------------
.photo-stream
	margin-right: -12px
	li
		float: left
		overflow: hidden
		margin: 0 10px 10px 0
	a
		display: block
		border-radius: 3px
	a:hover img
		opacity: .4
	img
		display: block
		width: 50px
		height: 50px
		border-radius: 0px

#footer .photo-stream
	margin-top: 22px