@media only screen and (min-width: 768px) and (max-width: 979px) {
    #nav li a {
        font-weight: 300;
        font-size: 24px;
    }
    .single-project .header-title-box .page-title {
        max-width: 700px;
    }
    .single-project .page-title .container {
        right: -41%;
        text-align: left;
        font-size: 32px;
    }
    .single-project .project-nav {
        top: -93px;
        left: 35px;
        float: right;
    }
    #footer h3 {
        font-size: 28px;
    }
    .project-item .item-title {
        font-size: 24px;
    }
}
@media only screen and (min-width: 768px) {
    #topbar .one-half {
        float: right;
        margin-right: -0.7%;
        width: 50%;
        text-align: right;
    }
    #topbar .column-last {
        float: none;
        clear: none;
        width: 40%;
    }
}
@media only screen and (max-width: 767px) {
    #logo {
        position: absolute;
        top: 0;
        margin: -39px 0 0 -12.7%;
        padding: 0;
    }
    .selectnav {
        margin-left: -164px !important;
        width: 748px !important;
        text-indent: 310px;
    }
    .single-project .project-nav {
        top: 13px;
        left: 8px;
        float: right;
    }
    .single-project .page-title .container {
        left: 0;
        text-align: center;
    }
    .single-project .one-third {
        margin-left: 0;
        width: 100% !important;
    }
    .single-project .two-third {
        width: 100% !important;
    }
    .sc-projects-without-title .sc-projects-arrows {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .testimonial-wrapper .flex-prev, .jcarousel-prev {
        margin-right: 17px;
    }
}
@media only screen and (max-width: 478px) {
    #logo {
        position: absolute;
        top: -10px;
        width: 90px;
    }
    #logo img {
        display: block;
        margin: 0 auto;
    }
    .selectnav {
        margin-left: -100px !important;
        width: 679px !important;
        text-indent: 174px !important;
    }
    .single-project .project-nav {
        left: 0;
    }
    .single-project .one-third {
        margin-left: 0;
        width: 100% !important;
    }
    .single-project .two-third {
        width: 100% !important;
    }
}
