/********************************/
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  background: url(/wp-content/files/2013/12/body-bg.jpg) no-repeat center top/cover fixed; }

/********************************/
/* Topbar: 						*/
/********************************/
#topbar {
  background: rgba(0, 0, 0, 0.5);
  border: 0; }
  #topbar a[class^="icon"] {
    margin-left: 1em; }
  #topbar .smartphone {
    display: none; }
  #topbar .center-content {
    text-align: right; }
  #topbar .callus a {
    color: #ccc;
    font-size: 16px; }
    #topbar .callus a:hover {
      color: white;
      text-decoration: underline; }

@media only screen and (max-width: 480px) {
  #topbar .smartphone {
    display: inline; }

  .call a {
    font-size: 24px !important;
    line-height: 12px; }

  .no-mobile {
    display: none; } }
/********************************/
/* Header: 						*/
/********************************/
#stickyheader, #stickyheader.sticky {
  background: rgba(255, 255, 255, 0.5); }
  .sticky#stickyheader {
    z-index: 300; }
    .sticky#stickyheader #logo {
      position: fixed;
      margin: 0 0 0 -7px;
      width: 103px; }
  #stickyheader #logo {
    margin: -34px 0 -50px -1%; }

/********************************/
/* Top Navigation: 				*/
/********************************/
#navigation {
  margin-right: -10px; }
  #navigation > li {
    padding: 0;
    border: none !important; }
    #navigation > li > a {
      margin-bottom: 72px;
      padding: 0 12px;
      height: 0;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      color: #54bb44;
      text-transform: none;
      letter-spacing: -2px;
      font-weight: 100;
      font-size: 28px;
      line-height: 72px;
      transition: margin .3s ease-in-out, height .3s ease-in-out, color .3s ease, border-color .3s ease-in; }
    #navigation > li > a:hover, #navigation > li.current-menu-item > a, #navigation > li.current-menu-ancestor > a {
      margin-bottom: 0;
      height: 72px;
      border-bottom-color: #d1002d;
      color: #d1002d;
      transition-delay: 0s; }
    #navigation > li.hover > a, #navigation > li.current > a {
      border-bottom-color: #d1002d;
      color: #d1002d; }
  #navigation ul {
    top: 75px;
    z-index: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7); }
    #navigation ul a {
      padding: 5px 20px; }

i {
  font-style: normal !important; }

.nostick #navigation ul {
  z-index: 31; }

.selectnav {
  color: white; }

/********************************/
/* Page Tagline: 				*/
/********************************/
.fullwidth_stroke.header-title-box {
  margin: 0;
  padding: 20px 0; }
  .fullwidth_stroke.header-title-box .page-title {
    color: rgba(125, 98, 59, 0.5) !important;
    text-shadow: 0 2px 3px rgba(255, 179, 97, 0.7), 0 -1px 1px rgba(0, 0, 0, 0.8);
    letter-spacing: -2px; }

/********************************/
/* Content: 					*/
/****************************************************************/
/* All Containers with default fixed Body Background: 			*/
/****************************************************************/
.header-title-box,
.fullwidthbanner-container,
.honey-cta-message-full {
  background: url(/wp-content/files/2013/12/body-bg.jpg) no-repeat center top/cover fixed !important; }

/********************************/
#content {
  padding-bottom: 60px;
  background: #222222 url(../img/slate.jpg) repeat;
  box-shadow: 0 0 20px black, inset 0 0 5px rgba(255, 255, 255, 0.3); }

.fullwidthbanner-container {
  position: static !important; }

.honey-cta-message-full {
  box-shadow: inset 0 0 20px black, 0 0 5px rgba(255, 255, 255, 0.3); }

.alignright {
  float: right; }

@media (max-width: 767px) {
  .one-half, .one-third, .one-fourth {
    width: 100%; } }
/********************************/
/* Typography: 			 		*/
/********************************/
/* .service-description h3, */
#footer #copyright, #footer .designer a,
.project-feed div a {
  color: rgba(0, 0, 0, 0.72) !important;
  text-shadow: 0 1px 1px rgba(120, 120, 120, 0.7), 0 -1px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: -2px;
  font-size: 24px;
  line-height: 1; }

.service-description h3 {
  color: #eee;
  letter-spacing: -1px;
  text-transform: normal; }

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-style: italic;
  line-height: 1.3em; }

/********************************/
/* Homepage 					*/
/********************************/
.service-icon {
  background: #54bb44; }

.service:hover h3 {
  color: #d1002d !important; }

.service:hover .service-icon {
  background: #d1002d; }

.icon-truck:before {
  content: "P";
  font-family: sans-serif;
  font-weight: bold; }

.data-wrapper .one-half, .data-wrapper .one-third, .data-wrapper .two-third, .data-wrapper .three-fourth, .data-wrapper .one-fourth,
.data-wrapper .one-fifth, .data-wrapper .two-fifth, .data-wrapper .three-fifth, .data-wrapper .four-fifth, .data-wrapper .one-sixth, .data-wrapper .five-sixth {
  margin: 0 2%; }
.data-wrapper .one-half {
  width: 46%; }
.data-wrapper .one-third {
  width: 29.3%; }
.data-wrapper .one-fourth {
  width: 21%; }

.sc-testimonials {
  background: url("../img/paper2.jpg") repeat;
  color: #333333; }

.testimonial-wrapper:before {
  border-color: rgba(237, 241, 242, 0) rgba(0, 0, 0, 0.89) rgba(0, 0, 0, 0.89) rgba(237, 241, 242, 0);
  background: url("http://klatschmohn-giessen.de/wp-content/themes/klatsch/css/../img/paper2.jpg") repeat; }

/********************************/
/* Single Product Page: 		*/
/********************************/
.single-project #content * {
  color: #e6e6e6; }
.single-project .inline-border {
  margin: 0;
  border: 0; }
.single-project .one-third {
  width: 40%; }
.single-project .two-third {
  width: 54%; }
.single-project .two-third .one-fourth {
  margin-right: 0;
  width: 21%; }
.single-project .project-nav {
  position: relative;
  top: -93px;
  float: right; }
.single-project .project-title {
  display: none; }
.single-project .project-description p, .single-project .project-description ul {
  font-size: 18px; }
.single-project .project-description ul {
  margin-bottom: 1em;
  list-style: initial; }
.single-project .project-description ul li {
  margin-left: 2em; }
.single-project .project-description .logo-list li {
  margin: 1em 1em 0 0; }
.single-project .sc-projects-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px; }
.single-project .logo-list {
  list-style: none; }
  .single-project .logo-list a {
    height: 66px;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0.6; }
  .single-project .logo-list img {
    opacity: 1; }

/********************************/
/* Project Shortcodes: 			*/
/********************************/
.flexslider.image-slider:after,
.project-item .mask {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: #292929 #636363 #454545 #212121;
  box-shadow: inset 0 0 14px 7px rgba(0, 0, 0, 0.8), inset 1px 1px 2px rgba(255, 255, 255, 0.7), inset -1px -1px 3px rgba(0, 0, 0, 0.7);
  content: ""; }

.sc-projects-without-title .project-carousel .jcarousel-clip {
  padding-top: 0;
  border-top: none; }

.testimonial-wrapper .flex-direction-nav a,
.sc-projects-arrows a {
  z-index: inherit;
  position: absolute;
  margin-top: 102px; }

.sc-projects-arrows .jcarousel-prev {
  left: -40px; }
.sc-projects-arrows .jcarousel-next {
  right: -40px; }

.testimonial-wrapper .flex-direction-nav .flex-prev {
  left: -40px; }
.testimonial-wrapper .flex-direction-nav .flex-next {
  right: -40px; }

.sc-testimonials h6 {
  color: #333; }

.sc-projects-without-title .sc-projects-arrows {
  padding-bottom: 0; }

.flex-direction-nav a {
  z-index: 2; }

.isotope .isotope-item {
  z-index: 0; }

/********************************/
/* Blog 						*/
/********************************/
.post-block-feed {
  overflow: visible; }

.post-block .innercontent {
  background: url("../img/paper2.jpg") repeat;
  margin-bottom: 20px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 5px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 4px 4px 20px black; }

.isotope .isotope-item {
  padding: 0 20px;
  margin: 0 -20px; }

.single-post #main, .blog #main {
  float: right;
  padding: 24px;
  width: 66.6%;
  background: white; }

.single-post #sidebar, .blog #sidebar {
  position: fixed;
  z-index: 0;
  float: left;
  margin-right: 16px;
  padding: 16px;
  width: 16%;
  background: white; }

.post h2 {
  margin-bottom: 10px;
  font-size: 42px; }

#content > .container {
  padding: 30px 20px; }

/* Shortcodes */
.google-map {
  width: 100%;
  height: 500px; }

/********************************/
/* Portfolio Page				*/
/********************************/
.logo-list {
  list-style: none !important; }

.project-item .thumb-item-title span {
  display: none; }

.project-item .thumb-item-title, .project-item:hover .thumb-item-title {
  border-bottom-width: 3px; }

.project-item .thumb-item-title {
  border-bottom-color: transparent; }

/********************************/
/*     Footer    				*/
/********************************/
#footer_main {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  padding-top: 10px;
  background: transparent url(../img/footer-bg-bottom.min.png) repeat; }

#footer {
  margin-top: -45px;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0) url(../img/footer-bg-top.min.png) repeat-x 0 0; }
  #footer a {
    color: rgba(224, 37, 0, 0.9) !important; }
    #footer a:hover {
      color: #e0002d !important; }
  #footer a, #footer div {
    color: rgba(96, 79, 11, 0.8);
    text-shadow: 0px 1px 1px white, 0 -1px 1px rgba(0, 0, 0, 0.32);
    letter-spacing: -0.3px;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.6; }
  #footer :before, #footer :after {
    font-family: FontAwesome; }
  #footer h3 {
    margin: 24px 0;
    color: rgba(143, 100, 36, 0.6);
    text-transform: capitalize;
    text-shadow: 0 1px 2px #ffebcc, 0 -1px 0px rgba(0, 0, 0, 0.75);
    letter-spacing: -2px;
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px; }
  #footer #speiseplan img {
    margin: -17px 0 0 2px;
    opacity: 0.5;
    transition: all .5s; }
  #footer #speiseplan:hover img {
    box-shadow: 2px 2px 4px #414141;
    opacity: 1; }
  #footer .widget_recent_entries ul li:before {
    margin: 0;
    content: ""; }
  #footer .widget_recent_entries a:before {
    margin-right: 4px;
    content: "\f054"; }
  #footer .widget_recent_entries a:after {
    content: "\2026"; }
  #footer .post-date {
    display: block;
    font-size: 12px; }
  #footer .blogroll {
    margin-top: -3px; }
  #footer .widget_links a {
    white-space: nowrap; }
  #footer .widget_links li {
    line-height: 32px; }
  #footer .cblock {
    position: relative;
    padding-bottom: 10px;
    padding-left: 0; }
    #footer .cblock:before {
      position: absolute;
      left: -22px;
      width: auto;
      color: #e0002d;
      text-align: center;
      font-family: FontAwesome; }
  #footer .info {
    margin-top: -50px;
    padding: 70px 0 0;
    background: url("../img/inner-border-bottom.png") repeat-x;
    border: none;
    box-shadow: none; }
    #footer .info .container {
      background: #222222 url(../img/slate.jpg) repeat;
      width: 100%;
      padding: 30px;
      padding-left: 25%;
      padding-right: 25%; }
  #footer .copyright {
    float: none; }

.address.cblock:before {
  content: "\f041"; }

.phonenumber.cblock:before {
  content: "\f095"; }

.email.cblock:before {
  content: "\f0e0"; }

.time.cblock:before {
  content: "\f017"; }

@media only screen and (min-width: 767px) and (max-width: 980px) {
  #footer h3 {
    font-size: 28px; } }
/********************************/
/* Media Queries				*/
/********************************/
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #logo {
    position: absolute;
    left: -0.3%;
    margin-top: -48px;
    width: 155px; }

  #navigation > li {
    padding-right: 12px;
    padding-left: 12px; }

  .single-project .header-title-box .page-title {
    max-width: 700px; }

  .single-project .page-title .container {
    right: -41%;
    text-align: left;
    font-size: 32px; }

  .single-project .project-nav {
    top: -93px;
    left: 35px;
    float: right; } }
@media only screen and (min-width: 768px) {
  #topbar .one-half {
    float: right;
    margin-right: -0.7%;
    width: 50%;
    text-align: right; }

  #topbar .column-last {
    float: none;
    clear: none;
    width: 40%; } }
@media only screen and (max-width: 767px) {
  #logo {
    position: absolute;
    top: 0;
    left: -30%;
    z-index: 1;
    width: 155px; }

  .selectnav {
    margin-left: -164px !important;
    width: 748px !important;
    text-indent: 310px; }

  .single-project .project-nav {
    top: 13px;
    left: 8px;
    float: right; }

  .single-project .page-title .container {
    left: 0;
    text-align: center; }

  .single-project .one-third {
    margin-left: 0;
    width: 100% !important; }

  .single-project .two-third {
    width: 100% !important; } }
@media only screen and (max-width: 478px) {
  #logo {
    position: absolute;
    top: -10px;
    width: 90px; }

  .selectnav {
    margin-left: -100px !important;
    width: 679px !important;
    text-indent: 174px !important; }

  .single-project .project-nav {
    left: 0; }

  .single-project .one-third {
    margin-left: 0;
    width: 100% !important; }

  .single-project .two-third {
    width: 100% !important; } }
/********************************/
/*   Biosiegel  				*/
/********************************/
.biosiegel-tab {
  clear: both;
  margin: -20px auto;
  padding: 10px;
  max-width: 580px;
  height: 115px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fafafa;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  transition: all 0.3s ease; }
  .biosiegel-tab:hover {
    background: #eee;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    cursor: pointer !important; }
  .biosiegel-tab img[alt="Demeter"] {
    margin-top: 20px; }
  .biosiegel-tab img[alt="EU-Bio"] {
    margin-top: 8px; }
  .biosiegel-tab em {
    float: right;
    padding-top: 25px;
    max-width: 430px;
    color: #222 !important; }

#post-50 a img, .biosiegel-tab img {
  float: left;
  margin: 5px 15px 10px 5px;
  padding: 5px;
  background-color: #fff !important;
  transition: all 0.3s ease; }

.page-id-61 .data-inner-wrapper {
  max-width: 700px; }

.biosiegel-content {
  margin: 10px auto;
  padding: 20px;
  max-width: 560px;
  width: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fafafa;
  font-size: 12px; }
