/* ------------------------------------------------------------------------------- */
/*  Media Queries
/* ------------------------------------------------------------------------------- */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 979px) {
	
	
.sticky#stickyheader {
	position: relative !important;	
}	
.one-third.project-item{
	width:223px;	
}
.one-fourth.project-item{
	width:160px;	
}
.one-half.project-item{
	width:340px;
}
.page-title {
	font-size: 40px;
}
	
	
.container,
.woocommerce .maincontainer, 
.woocommerce-page .maincontainer {
	max-width: 700px;
}
/*.jcarousel-prev,  .jcarousel-next {
	display: none !important;
}*/
.pricing-table-extended .features-list {
	display: none;
}
.pricing-table-extended.five-cols .column {
	width: 19.9%;
}
.pricing-table-extended.four-cols .column {
	width: 24.8%;
}
.pricing-table-extended.three-cols .column {
	width: 33.1%;
}
.pricing-table-extended.two-cols .column {
	width: 49%;
}
.pricing-table-extended.one-cols .column {
	width: 100%;
}
.pricing-table-simple.five-cols .column {
	width: 19.9%;
}
.pricing-table-simple.four-cols .column {
	width: 24.9%;
}
.pricing-table-simple.three-cols .column {
	width: 33.1%;
}
.pricing-table-simple.two-cols .column {
	width: 49%;
}
.pricing-table-simple.one-cols .column {
	width: 100%;
}
.pricing-table-extended .column ul li:before {
	color: #959595;
	content: attr(data-feature);
	display: block;
	font-weight: 800;
	text-align: center;
}
.pricing-table-simple h2 {
	font-size: 16px;
}
/*.project-item .item-title {
	bottom: 20px;
}*/
.photo-stream img {
	width: 49px;
	height: 49px;
}
.flex-caption {
	margin: 0 0 20px 70px;
	padding: 25px;
	width: 300px;
}
.flex-caption h3 {
	font-size: 18px;
}
.flex-caption p {
	font-size: 12px;
}
.fullwidth-padding .google-map {
	height: 350px;
}


/* Widget Area */
#sidebar #searchform input[type="text"] {
	max-width: 42%;
}
#sidebar .widget_product_search #searchform input[type="text"]{
	width: 89%;
	float: none;
	max-width: 89%;
}

.post-block  .fluid-width-video-wrapper {
	height: 56px;
}



}



/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
.project-carousel li {
	width: 226px;
	height: 226px;
	margin-right: 10px;
}
.project-feed > div {
	margin-bottom: 20px;
}
.project-description .one-fourth {
	width: 31.9%;
}
.project-description .three-fourth {
	width: 64%;
}

}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
.inline-border:before, .inline-border:after {
	width: 10%;
}
.container,
.woocommerce .maincontainer, 
.woocommerce-page .maincontainer {
	width: 440px;
}
#main {
	margin-bottom: 40px;
}
#main, #sidebar {
	width: 100%;
}
.one-half {
	width: 48%;
}
.one-third {
	width: 100%;
}
.two-third {
	width: 64%;
}
.one-fourth {
	width: 49%;
}
.three-fourth {
	width: 100%;
}
.one-fifth {
	width: 31.8%;
}
.two-fifth {
	width: 36.8%;
}
.three-fifth {
	width: 55.2%;
}
.four-fifth {
	width: 73.6%;
}
.one-sixth {
	width: 15%;
}
.five-sixth {
	width: 75%;
}
.one-fourth:nth-child(2n+2) {
	margin-right: 0;
}
.one-fifth:nth-child(3n+3) {
	margin-right: 0;
}
.one-half,  .one-third,  .two-third,  .three-fourth,  .one-fourth,  .one-fifth,  .two-fifth,  .three-fifth,  .four-fifth,  .one-sixth,  .five-sixth {
	margin-bottom: 30px;
}
#navigation {
	display: none;
}
.selectnav {
	display: block;
	margin-left: -30px;
	margin-right: -30px;
	width: 500px;
}
#logo {
	margin-top: 50px;
}
.page-title {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
}
.page-title .accent {
	font-size: 24px;
}
.project-carousel li {
	width: 210px;
	height: 210px;
}
.social-links {
	float: left;
	margin-top: 15px;
}
.social-links li {
	margin-left: 0;
	margin-right: 8px;
}
.sep10 {
	height: 10px;
}
.sep20 {
	height: 20px;
}
.sep30 {
	height: 30px;
}
.sep40 {
	height: 25px;
}
.sep50 {
	height: 30px;
}
.sep60 {
	height: 40px;
}
.sep70 {
	height: 45px;
}
.sep80 {
	height: 50px;
}
.sep90 {
	height: 60px;
}
.sep100 {
	height: 50px;
}
.pricing-table-extended.five-cols .column {
	width: 49%;
}
.pricing-table-extended.four-cols .column {
	width: 49%;
}
.pricing-table-extended.three-cols .column {
	width: 49%;
}
.pricing-table-extended.two-cols .column {
	width: 49%;
}
.pricing-table-extended.one-cols .column {
	width: 100%;
}
.pricing-table-simple.five-cols .column {
	width: 49%;
}
.pricing-table-simple.four-cols .column {
	width: 49%;
}
.pricing-table-simple.three-cols .column {
	width: 49%;
}
.pricing-table-simple.two-cols .column {
	width: 49%;
}
.pricing-table-simple.one-cols .column {
	width: 100%;
}
.flex-caption {
	display: none;
}
.project-nav {
	float: left;
	margin-bottom: 20px;
}
.project-nav a {
	margin-left: 0;
	margin-right: 8px;
}
.button.big {
	padding: 7px 20px 8px;
	font-size: 12px;
}
.service {
	margin-bottom: 0;
}
.service.nobutton {
	margin-bottom: 10px;
}
#footer .info {
	margin-top: 20px;
}
/*topbar  */
#topbar .one-half{ margin-bottom:0px;}

.selectnav {
	position: inherit
}
#logo {
	margin-top: 0px;
	float: none;
	padding-bottom: 15px;
	padding-top: 15px;
	display: block;
	text-align: center
}
.callus {
	text-align: center
}
#social .social_bookmarks li {
	float: none;
	display: inline-block
}
#social .social_bookmarks {
	text-align: center;
	float: none
}

/* Portfolion section */
.one-half.project-item, .one-third.project-item, .one-fourth.project-item{
	width:100%;
}
.one-third.project-item img, .one-fourth.project-item img {
	width:100%;
}

/*  Project Feed Alt  --------------------------------*/
.project-feed-alt .one-fourth {
	width:100%;
	margin-right: 0%;
}
.project-feed-alt .one-fourth  .thumbnail img{
	width:100%;
}

/*  Post Feed Alt  --------------------------------*/
.post-block-feed .one-third{
	width:100%;
}

/* Widget Area */
#sidebar #searchform input[type="text"] {
	max-width: 78%;
	width: 78%;
}
#sidebar .widget_product_search #searchform input[type="text"]{
	width: 96%;
	float: none;
	max-width: 96%;
}



}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media(max-width:767px) {
.one-half {
	width: 100%;
}
.one-third {
	width: 100%;
}
.two-third {
	width: 100%;
}
.one-fourth {
	width: 100%;
}
.three-fourth {
	width: 100%;
}
.one-fifth {
	width: 100%;
}
.two-fifth {
	width: 100%;
}
.three-fifth {
	width: 100%;
}
.four-fifth {
	width: 100%;
}
.one-sixth {
	width: 100%;
}
.five-sixth {
	width: 100%;
}
.projectsection .one-fourth {
	margin-right: 2%;
	width: 49%;
	margin-bottom:10px;
}
.projectsection .one-fourth:nth-child(2n+2){
	margin-right: 0%;
}

/*.projectsection .jcarousel-prev{
	left:217px;	
}
.projectsection .jcarousel-next{
	left:253px;
}*/



/*  Revolution Slider  --------------------------------*/
.tp-caption .tp-button.big{
	padding:6px 12px;
}

/*  Call to Action  --------------------------------*/
.honey-cta-message-full-inner .two-third h2,
.honey-cta-message-full-inner .column-last{
	text-align:center;
}


}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.container,
.woocommerce .maincontainer, 
.woocommerce-page .maincontainer  {
	width: 280px;
}
#main, #sidebar {
	width: 100%;
}
.one-half {
	width: 100%;
}
.one-third {
	width: 100%;
}
.two-third {
	width: 100%;
}
.one-fourth {
	width: 100%;
}
.three-fourth {
	width: 100%;
}
.one-fifth {
	width: 100%;
}
.two-fifth {
	width: 100%;
}
.three-fifth {
	width: 100%;
}
.four-fifth {
	width: 100%;
}
.one-sixth {
	width: 100%;
}
.five-sixth {
	width: 100%;
}


.projectsection .inline-border {
	padding-bottom: 28px;
}

.project-carousel li {
	width: 280px;
	height: 280px;
	margin-right:10px;
}

/*.projectsection .jcarousel-prev{
	left:106px;	
}
.projectsection .jcarousel-next{
	left:142px;
}*/

.honey-cta-message-full {
	margin-left: -25px;
	margin-right: -25px;
}

.projectsection .inline-border {
	padding-bottom: 41px;
}



.selectnav {
	margin-left: -25px;
	margin-right: -25px;
	width: 330px;
}
.pricing-table-extended.five-cols .column {
	width: 100%;
}
.pricing-table-extended.four-cols .column {
	width: 100%;
}
.pricing-table-extended.three-cols .column {
	width: 100%;
}
.pricing-table-extended.two-cols .column {
	width: 100%;
}
.pricing-table-extended.one-cols .column {
	width: 100%;
}
.pricing-table-simple.five-cols .column {
	width: 100%;
}
.pricing-table-simple.four-cols .column {
	width: 100%;
}
.pricing-table-simple.three-cols .column {
	width: 100%;
}
.pricing-table-simple.two-cols .column {
	width: 100%;
}
.pricing-table-simple.one-cols .column {
	width: 100%;
}

/*  Lago list --------------------------------*/
.logo-list li{
	width:auto;
	float: none;
}
.logo-list img{
	position:inherit;
}
.logo-list li a{ 
	border-right:1px solid #E1E1E1
}

/*  woocommerce --------------------------------*/
.woocommerce table.shop_table td, 
.woocommerce-page table.shop_table td, 
.woocommerce table.shop_table th, 
.woocommerce-page table.shop_table th{
	padding:1px; font-size:11px;
}
#customer_details .col-1, #customer_details .col-2, 
.woocommerce ul.products li.product.one-fourth,
.woocommerce-page ul.products li.product.one-fourth,
.woocommerce ul.products li.product.one-third, 
.woocommerce-page ul.products li.product.one-third {
	width:auto;
	float: none;
}

/*  Homepage portfolio section --------------------------------*/
.data-wrapper-grey{
	margin-left: -25px;
	margin-right: -25px;	
}
.data-wrapper {
	width: auto;
}

/*.fullwidth-padding{
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
*/

/*  Footer Twitterbar section --------------------------------*/
#footer-twitterbar-wrapper {
	margin-left: -25px;
	margin-right: -25px;
}
.tweets .honey_tweet_item.honey_tweetitem{
	width:66% !important;
}


/* Widget Area */
#sidebar #searchform input[type="text"] {
	max-width: 64%;	
}
#sidebar .widget_product_search #searchform input[type="text"]{
	width: 96%;
	float: none;
	max-width: 96%;
}

}
