
.fullwidth_stroke_footer
	margin-right: -30px
	margin-left: -30px

#footer
	margin-top: 0px
	padding-top: 30px
	background: hsla(0, 0%, 0%, 0.05)
	color: #ddd
	font-size: 14px
	line-height: 1.3
	*:before,*:after
		font-family: FontAwesome
	.logo
		display: block
		margin-top: -15px
		margin-bottom: 20px
		color: #fff
		letter-spacing: -0.05em
		font-weight: 700
		font-size: 28px
		line-height: 1.2em
	h3
		margin-bottom: 24px
		color: $green
		text-transform: capitalize
		letter-spacing: -2px
		font-weight: 200
		font-size: 52px
		text-align: left
	a, p, ul, span, div
		font-size: 16px

@media only screen and (-webkit-min-device-pixel-ratio: 2)
	#speiseplan
		margin: 0 auto
		height: 220px
		width: 150px
		display: block
		background-image: url(img/wochenplan.png)
		background-size: cover


// @media only screen and (min-width: 980px)
@supports not (-webkit-touch-callout: none)
	@media only screen and (min-width: 980px)

		#footer h3
			text-align: center

		@mixin footer-block
			position: absolute
			top: 120px
			width: 216px
			height: 216px
			box-sizing: border-box
			border-radius: 50%
			box-shadow: inset 0 0 0 108px $green, 0 0 0 1px $green
			// pointer-events: none
			.icanhas-no-csstransitions &
				box-shadow: inset 0 0 0 108px $green
				background-color: transparent !important
			&:before
				position: absolute
				top: 33px
				left: 42px
				border-radius: 50%
				color: white
				font-family: FontAwesome
				font-size: 128px
				line-height: 1
				transition:		color 1s $cb111-1 1.2s, $bdr 0.2s ease 1s, $bxs 0.5s ease 1.2s, top 0.2s ease 0.7s
			.icanhas-csstransitions &:hover,
			.icanhas-csstransitions &:focus
				top: 81px
				height: 290px
				border-radius: 5px
				box-shadow: $overlay
				// pointer-events: all
				&:before
					top: 72px
					box-shadow: none
					transition:	color 0.5s ease, $bdr 0.2s ease 0.7s, $bxs 0.5s ease 1.2s, top 0.2s ease 1s

		#speiseplan
			@include footer-block
			background:
				image: $speiseplan
				repeat: repeat
				position: -716px 1059px // h:w
				size: 50px 69px
			transition:
				property:				$bgp	,$bgs	,top	,height	,$bdr	,$bxs
				timing-function:		$cb666	,$cb666	,ease	,ease	,ease	,$cb115-1
				duration:				2s		,2s		,0.2s	,0.2s	,0.2s	,1.0s
				delay:					0s		,0s		,0.7s	,0.7s	,1.0s	,1.2s
			&:before
				left: 44px
				content: "\f0f5"
			.icanhas-csstransitions &:hover,
			.icanhas-csstransitions &:focus
				background:
					position: center
					size: 216px 290px
				transition:
					property:			$bgp	,$bgs	,top 	,height ,$bdr	,$bxs
					timing-function:	ease	,ease	,ease	,ease	,ease	,$cb1112
					duration:			1.7s	,0.4s	,0.2s	,0.2s	,0.2s	,1s
					delay:				0.5s	,0.5s	,1.0s	,1.0s	,0.7s	,0s
				&:before																																			// box-shadow: inset 0 0 0 74px transparentize($red, 0.7)
					color: $red																																		// transition: $bxs 0.5s $cb0010, color 0.5s ease, $bdr 0.2s ease 0.7s, top 0.2s ease 1s
			.firefox &, .msie &
				background-size: 196px 270px !important

		#footer > .container
			min-height: 400px

		#footer > div > div > div > ul,
		#footer > div > div:nth-child(1) > div > div
			@include footer-block
			color: $base
			background-color: $green
			overflow: hidden
			padding: 16px
			transition: top 0.3s ease 0s, height 0.3s ease 0.0s,  border-radius 0.5s ease 0.5s, box-shadow 1s ease 0.3s ,background 1s ease 0s
			div, li
				opacity: 0
				transition: opacity .5s ease 0s
			&:before
				transition: color .5s ease-in .7s, top 0.3s ease 0s
				pointer-events: none
				margin-top: 21px
				-webkit-backface-visibility: visible !important
			.ie9 &:hover:before
				display: none
			.icanhas-csstransitions &:hover,
			.icanhas-csstransitions &:focus
				box-shadow: none
				background-color: transparentize(white, 0.9)
				transition: top 0.2s ease 0.3s, height 0.2s ease 0.3s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0.5s
				&:before
					color: transparent
					transition: color 0.3s ease 0.5s, top 0.2s ease 0.3s
				div, li
					opacity: 1
					transition: opacity .5s ease .5s

		#footer > div > div:nth-child(1) > div > div:before
			content: "\e620"
			font-size: 110px
			margin: 20px 0 0 10px

		#footer > div > div:nth-child(2) > div > ul:before
			content: "\e64e"
			margin: 9px 0 0 10px

		#footer > div > div:nth-child(3) > div > ul:before
			content: "\e63f"
			font-size: 110px
			margin: -3px 0 0 21px
			line-height: 1.5
			width: 120px



// background-position .4s cubic-bezier(0,2,1,-1) .5s,background-size .4s cubic-bezier(0,2,1,-1) .5s,
// cubic-bezier(0,1.5,0.5,-0.5)

.widget_links a
	white-space: nowrap

.widget_links li
	margin-bottom: 7px
	line-height: inherit

//	Copyright & Social Links	--------------------
//	------------------------------------------------
#footer_main .info
	padding: 15px 0 0
	background: transparentize(black, .25)

.copyright
	float: left
	margin-top: 10px
	li
		float: left
		margin-right: 20px
		line-height: 26px

.social-links
	float: right
	li
		float: left
		margin-left: 8px
		border-radius: 0px
		background: #363636
		text-align: center
	a
		display: block
		width: 40px
		height: 40px
		text-align: center
		text-indent: -9999px
		line-height: 26px
		i
			color: #959595
		&:hover
			opacity: 1



			// #speiseplan
			// 	position: absolute
			// 	top: 82px
			// 	left: 2px
			// 	width: 196px
			// 	height: 196px
			// 	border: 6px solid $green
			// 	box-shadow: inset 0 0 0 100px transparentize($green, .7)
			// 	background: $speiseplan no-repeat center center/196px 260px
			// 	transition: all 0.5s cubic-bezier(1,0,0,1)
			// 	// border-radius: 50%
			// 	// transition-property: box-shadow , border-radius , border-color,	height
			// 	// transition-duration: .4s		   , .2s		   , .4s		 , .2s
			// 	// transition-delay: 	 0		   , .2s		   ,  0	 	  	 ,	0
			// 	// transition-timing-function: ease-in-out
			// 	&:before
			// 		position: absolute
			// 		top: 7px
			// 		left: 48px
			// 		color: $green
			// 		content: "\f0f5"
			// 		font-family: FontAwesome
			// 		font-size: 100px
			// 		text-shadow: 3px 3px 0px $link
			// 		transition: all 0.5s cubic-bezier(1,0,0,1)
			// 		// transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out, top 0.2s ease-in-out
			// 	&:hover
			// 		height: 270px
			// 		border-color: $red
			// 		box-shadow: inset 0 0 0 5px white
			// 		// border-radius: 0
			// 		// transition-delay: 0, 0, 0, .2s
			// 		&:before
			// 			top: 44px
			// 			color: $red
			// 			opacity: .8
			// 			text-shadow: 3px 3px 0px $hover